<!DOCTYPE html>
<html>

<head>
    <title>PDE VISUALIZER</title>
</head>

<body>

    <h1>PDE VISUALIZER</h1>

    <p>
        This applet supports numerical visualization of the heat equation and the wave equation. Using numerical methods, in this case, Finite Difference Schemes, PDE VISUALIER allows user to see how the heat distribution or the wave placement changes in time. 
    </p>
    <button><a class='button' href="/heat">Heat Equation</a></button>
    <button><a class='button' href="/wave">Wave Equation</a></button>

    
</body>

</html>